@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #FD951F;
  --secondary-color: #01B075;
  --text-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #202020;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

/*** HEADER ***/
header, footer {
  width: 100%;
  padding: 32px 0;
  text-align: center;
  color: var(--text-color);
  background-color: #161616;
}

header div.container {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  gap: 24px;
  align-items: center;
}

header div.container a {
  justify-self: start;
}

/*** LOGO ***/
.logo h1 {
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
}

.logo h2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--primary-color);
}

/*** HEADER SEARCH ***/
.search input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 2px;
}

/*** PRIMARY MENU ***/
nav.primary ul {
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a {
  display: flex;
  align-items: center;
  transition: 200ms;
  color: var(--text-color);
}

nav.primary ul li a:hover {
  color: var(--primary-color);
}

nav.primary ul li a i {
  margin-right: 8px;
}